<%- include ("../partials/header") %>

<div class="row animated fadeIn fast">
    <div class="col-md-6" style="float: none; margin: auto;">
        <form class="form-container" action="/patients/profile/<%= patient._id %>/changepassword?_method=PUT" method="POST">
            <h2 class="mb-3" style="text-align: center;">Change Password For: <%= patient.name %></h2>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="New Password" minlength="6" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="cpassword" class="form-control" placeholder="Confirm New Password" minlength="6" required>
            </div>
            <button class="btn btn-primary btn-block">Change Password</button>
        </form>
        <a href="/patients/profile/<%= patient._id %>"><i class="fas fa-angle-left mt-3"></i>&nbsp;Go Back</a>
    </div>
</div>


<%- include ("../partials/footer") %>

